<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Caisleáin na hÉireann" subTitle="Admin Home Page"}}
  {{> admin-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-top uk-text-center" uk-grid>
    <div class="uk-width-1-2@m">
      {{> category-list}}            
    </div>  
    <div class="uk-width-expand@m ">
      {{> user-list}} 
    </div>     
  </div>
</div>