<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Caisleáin na hÉireann" subTitle="View & Add Castles"}}
  {{> main-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      {{> add-castle}}
      {{> castles-list}}      
    </div>
    <div class="uk-width-expand@m uk-height-large">
      <img width="400" src="images/clare-island.jpg" title="Clare Island Castle" pos="bottom" uk-tooltip />
    </div>
  </div>
</div>