<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Caisleáin na hÉireann" subTitle="Sign up or log in"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">Castles of Ireland</h1>
      <p>Browse, edit and add castles</p>
      {{> error }}
    </div>
    <div class="uk-width-auto@m">
      <img width="400" src="images/clare-island.jpg" title="Clare Island Castle" pos="bottom" uk-tooltip />
    </div>
  </div>
</div>