<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Caisleáin na hÉireann" subTitle="View & Add Castles"}}
  {{> main-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading">{{title}}</h1>
      <p>{{description}}</p>
    </div>
    
  </div>
</div>

